<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lists.css') }}">
</head>
<body>
    <h1>Hi! My name is Nicholas Galupi</h1>
    <h2>Welcome to my Landing Page Portfolio!</h2>
    <h3>Here's a list of my Single-Page Applications!</h3>
    {% for slug, page in landing_pages %}
        <a href="{{ url_for('landing_page', slug=slug) }}">{{page.name}}</a>
    {% endfor %}
</body>
</html>
