<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Agents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template2.css') }}">
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
        rel="stylesheet"
    />
</head>
<body>
    <nav>
        <div class="nav-header">
            <h3 class="nav-logo">Digital Agents</h3>
        </div>
        <ul class="nav-links">
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Blog</li>
            <li><a href="#"></a>Shop</li>
        </ul>
        <div class="menu">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
    <main>
        <div class="context">
            <h1>Turn Digital Creations into Reality!</h1>
            <p>We help startup companies with their products!</p>
            <button class="landing">Learn More Now!</button>
        </div>
        <img src="{{ url_for('static', filename='images/Computer.png') }}" alt="Image" class="main-img">
    </main>
    <footer>
        <p>Galupi Landing Pages 2024 | All Rights Reserved</p>
        <ul class="footer-links">
            <li><a href="#"></a>Facebook</li>
            <li><a href="#"></a>Twitter</li>
            <li><a href="#"></a>Instagram</li>
        </ul>
    </footer>
</body>
</html>